system {
    root-authentication {
        encrypted-password bgperf; ## SECRET-DATA
    }
    license {
        keys {
            key "{{ data.license }}";
        }
    }
    processes {
        routing {
            bgp {
                rib-sharding {
                    number-of-shards {{ data.cores }};
                }
                update-threading {
                    number-of-threads {{ data.cores }};
                }
            }
        }       
    }
}
routing-options {
    router-id {{ data['router-id'] }};
    autonomous-system {{ data.asn }};
}
protocols {
    bgp {
        group ebgp-peers {
            type external;
            advertise-inactive;
        {%- for n in data.neighbors -%}
            neighbor {{ n['router-id'] }} {
                peer-as {{ n.as }};
        {% if data.filter is defined %}
                import {{data.filter}} ;
        {% endif %}
            }
        {% endfor %}
        }
    }
}




